<div id="<%= dom_id reclamation %>">
  <p>
    <strong>Description:</strong>
    <%= reclamation.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reclamation.user_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= reclamation.article_id %>
  </p>

</div>
