<div id="<%= dom_id voucher %>">
  <p>
    <strong>User:</strong>
    <%= voucher.user_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= voucher.value %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= voucher.comment %>
  </p>

</div>
